.topnav {
  background-color: #333;
  overflow: hidden;
  color: white;
}

.topnav a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #404040;
}

.search {
  margin: 15px 0;
  height: 30px;
  width: 50%;
  font-size: 16px;
}

.searchSubmit {
  background-color: #8A2BE2;
  color: white;
  padding: 0px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  height: 40px;
  border-radius: 10px;
}

.product {
  box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2);
  width: 350px;
  height: 250px;
  padding-bottom: 20px 20px 0px 20px;
  text-align: center;
  padding-top: 10px;
  font-family: arial;
  border-radius: 25px;
  margin: 30px 30px;
  display: inline-block;
}

.productName {
  display: inline-block;
  white-space: nowrap;
  width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.productLink {
  background-color: #8A2BE2;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}

.productImage {
  height: 150px;
}

.productLink:hover{
  background-color: #4B0082;
}

.page-bar{
  margin: 30px auto;
  width: 300px;
  text-align: center;
}

.page{
  border-radius: 5px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #8A2BE2;
  font-family: arial;
  color: white;
  margin: 30px auto 0px 10px;
  display:inline-block;
}

.pageDots {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-family: arial;
  margin: 30px auto;
  display:inline-block;
}
