.topnav {
  background-color: #333;
  overflow: hidden;
  color: white;
}

.topnav a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
  font-size: 17px;
}

.login {
  text-align: center;
  float: right;
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  width: 100px;
  background-color: #333;
  color: white;
  font-size: 17px;
}

.loginDropMenu {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.loginDropMenu div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.loginDropMenu div:hover {
  background-color: #F0F0F0;
}

.login:hover {
  background-color: #404040;
}

.login:hover .loginDropMenu {
  display: block;
}

.topnav a:hover {
  background-color: #404040;
}

.search {
  margin: 15px 0;
  height: 30px;
  width: 50%;
  font-size: 16px;
}

.searchSubmit {
  background-color: #8A2BE2;
  color: white;
  padding: 0px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  height: 40px;
  border-radius: 10px;
}

.product {
  box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2);
  width: 350px;
  height: 250px;
  padding-bottom: 20px 20px 0px 20px;
  text-align: center;
  padding-top: 10px;
  font-family: arial;
  border-radius: 25px;
  margin: 30px 30px;
  display: inline-block;
}

.productName {
  display: inline-block;
  white-space: nowrap;
  width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.productLink {
  background-color: #8A2BE2;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}

.productImage {
  height: 150px;
}

.productLink:hover{
  background-color: #4B0082;
}

.page-bar{
  margin: 30px auto;
  width: 300px;
  text-align: center;
}

.page{
  border-radius: 5px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #8A2BE2;
  font-family: arial;
  color: white;
  margin: 30px auto 0px 10px;
  display:inline-block;
}

.pageDots {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-family: arial;
  margin: 0px 20px 20px 0px;
  display:inline-block;
}

.loginBackground {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}

.formContainer {
  margin: 20px auto 20px auto;
}

.loginLabel {
  width: 250px;
  display: block;
  margin: auto;
  font-family: arial;
  font-size: 20px;
  margin-top: 20px;
  color: black;
}

.loginField {
  width: 250px;
  display: block;
  margin: auto;
  height: 30px;
}

.loginSubmit {
  width: 150px;
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: #8A2BE2;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 10px;
}

.loginError {
  width: 250px;
  display: block;
  margin: auto;
  font-family: arial;
  font-size: 20px;
  margin-top: 10px;
  color: red;
}

.top-bar-curr {
  color: black;
  text-align: center;
  width: 50%;
  padding: 15px;
  font-family: arial;
  float: left;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;

}

.top-bar-click {
  color: black;
  text-align: center;
  width: 50%;
  padding: 15px;
  font-family: arial;
  float: left;
  background-color: #D3D3D3;
}

.topBar2:hover {
  background-color: #f9f9f9;
}

.topBar:hover {
  background-color: #f9f9f9;
}
