.search {
  margin: 15px 0;
  height: 30px;
  width: 50%;
  font-size: 16px;
}

.search-submit {
  background-color: #4CAF50; /* Green */
  color: white;
  padding: 0px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  height: 40px;
  border-radius: 10px;
}

.product {
  box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2);
  width: 90%;
  height: 175px;
  text-align: center;
  padding-top: 20px;
  font-family: arial;
  border-radius: 25px;
  margin-top: 30px;
  margin: 30px auto;
}

.productLink {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}

.productLink:hover{
  background-color: #013220;
}

.page-bar{
  margin: 30px auto;
  width: 300px;
}

.page{
  border-radius: 5px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: green;
  font-family: arial;
  color: white;
  margin: 30px auto 0px 10px;
  float: left;
}

.page-dots {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-family: arial;
  margin: 30px auto;
  float: left;
}
